*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #ddfafc;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}


.espacio{
    height: 200px;
}
.espacio1{
    height: 200px;
}

/*barra menu*/
.container{
    position: absolute;
    left: 80%;
    z-index: 12;
    top: 36%;
}
input{
    outline: none;
    box-sizing: border-box;
    height: 20px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #ffffff;
    transition: all 700ms ease;
    
}

::placeholder{
    color: grey;
}

.btn{
    position: absolute;
    right: 1px;
    top: -9px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
}
.btn i {
    font-size: 20px;
    color: #b0a4fe;
    line-height: 30px;
    transition: all 700ms ease;
    padding-top: 4px;
}
.container:hover input{
    width: 200px;
}
.container:hover i{
    transform: rotate(-360deg);
}
.btn:hover{
    background: #ffffff;
}








#logo1{
    width: 220px;
    height: 50px;
    position: absolute;
    z-index: 11;
    left: 5%;
    top: 10px;
    transition: all 300ms ease;
}




.container__menu {
    width: 100%;
    height: 70px;
    background: #b0a4fe;
    padding: 0px 20px;
    border: #564aaf solid 1px;
}

.menu{ 
    margin: auto;
    height: 100%;  
}

nav {
    height: 100%; 
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 26px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 500ms ease;
}

nav > ul > li > a:hover{
    transform:scale(1.09);
    background-color: #8d81e6;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.presupuesto{
    position: absolute;
    left: 50%;
}

/*submenu*/
.reto_D{
    position: absolute;
    left: 70%;
}

nav ul .presupuesto ul{
    width: 200px;
    display: flex;
    background: #b0a4fe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
nav ul .presupuesto:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul .reto_D ul{
    width: 200px;
    display: flex;
    background: #b0a4fe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
nav ul .reto_D:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
#FASE1 ul{
    width: 200px;
    display: flex;
    background: #b0a4fe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
#FASE1:hover ul{
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: 104%;
}
#FASE2 ul{
    width: 200px;
    display: flex;
    background: #b0a4fe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
#FASE2:hover ul{
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: 104%;
}
#FASE3 ul{
    width: 200px;
    display: flex;
    background: #b0a4fe;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
#FASE3:hover ul{
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: 104%;
}


nav ul li ul li a{
    display: block;
    color: #ffffff;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    flex-direction: column;
}
nav ul li ul li a:hover{
    background: #8d81e6;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
































/*pie*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.foto{
    width: 700px;
    height: 200px;
    object-fit: fill;
}

.pie {
    bottom: 0;
    width: 100%;
    background-color: #13203a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie .grupo-1 .box figure{

    display: flex;
    justify-content: center;
    align-items: center;

}


.pie .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie .grupo-1 .red-social a{
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie .grupo-1 .red_socia a:hover{
    color: aqua; 
}
.pie .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    } 
    .foto {
        width: 100px;
        height: 50px;
    }
}