/*re*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}


header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}


.espacio{
    height: 200px;
}
.espacio1{
    height: 200px;
}

/*header superior*/

.header__superior{
    max-width:1200px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 250px;
}

.search input{
    width: 300px;
}

/*barra menu*/

.container__menu {
    width: 100%;
    height: 70px;
    background: #1e8fc3;
    padding: 0px 20px;
    z-index: 9999;
    scale: 1.2;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    z-index: 9999;
}

nav {
    height: 100%;
    z-index: 9999;
}

nav > ul{
    height: 100%;
    display: flex;
    z-index: 9999;
}
nav  ul  li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a {
    background-image: url(../../otros/391821-200.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 36px 40px;
}
nav > ul > li:first-child:hover > a {
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 26px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform:scale(1.09);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#selected{
    transform:scale(1.1);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    transition: all 300ms ease;
}
#selected:hover{
    background-color: #0099E9;
    border: 1px solid #7febc1;
    box-shadow: 0px 0px 10px 0px rgba(245, 245, 245, 0.5);
}

.Reto{
    margin-left: 20px;
}

/*submenu*/
nav ul li ul{
    width: 200px;
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    flex-direction: column;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;

}

nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    flex-direction: column;
}
nav ul li ul li a:hover{
    background: #0074c7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*cuerpo*/

/*dividir fases*/
.d_f{
    margin-left: 100px;
    margin-top: 50px;
    width: 100%;
}
.d_f > h3{
    align-content: center;
}
hr {
    background-color: #7aca83;
    height: 3px;

}
