
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.article_1{
    margin-top: 90px;
    display: inline-block;
    width: 50%;
    padding-left: 10px;
}
#imagen{
    position: absolute;
    right: 15%;
    top: 20%;
}
#imagen img{
    border-radius: 20px;
    border: none;
    height: auto;
    width: auto;
    object-fit: cover;

}
#normativa{
    padding: 10px;
    background-color:  #fbfff1;
    border: 2px solid #292627;
    font-weight: 600;
    color: #f0b736;
    margin-left: 10px;
    transition: all ease 300ms;
}
#normativa:hover{
    padding: 12px;
    border-radius: 15px;
    color: #fbfff1;
    background-color: #292627;
}
.article_1 h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.article_1 h2{
    font-size: 48px;
    margin-top: 15px;
    margin-left: 10px;
    
}
.article_1 h3{
    margin: 30px;
    font-size: 45px;
    margin-left: 15px;
    border-bottom: solid black 2px;
}
.article_1 h5{
    margin: 20px;
    font-size: 30px;
    margin-left: 35px;
    font-weight: 100;
}
.article_1 h4{
    margin: 25px;
    margin-left: 25px;
    font-size: 40px;
    border-bottom: solid grey 2px;
}
.article_1 h6{
    margin: 10px 2px;
    font-size: 20px;
    margin-left: 45px;
}
.article_1 p{
    font-size: 20px;
    margin-left: 50px;
    text-align: justify;
}
.boton_reto{
    margin: 80px 20%;
    padding: 20px;
    font-weight: 800;
    border: black solid 3px;
    width: 400px;
    background-color: white;
    transition: all ease 300ms;
    border-radius: 15px;
    margin-bottom: 230px;
    text-align: center;
}
.boton_reto a{
    color: #292627;
    font-size: 20px;
}
.boton_reto:hover{
    transform: scale(1.1);
    border-radius: 20px;
    cursor: pointer;
    
    background-color: #292627;
}
.boton_reto:hover a{
    color: #fbfff1;
}
#windows{
    width: 40%;
    position: absolute;
    right: 0%;
    top: 10%;
    
}
#personitas{
    right: 10%;
    position: absolute;
    top: 20%;
}
#personitas img{
    object-fit: fill;
    height: 700px;
    width: 700px;
}
#pc{
    position: absolute;
    right: 10%;
    top: 20%;
}
#pc img{
    object-fit: fill;
    height: 800px;
    width: 700px;
    border-radius: 30px;
}
#placa{
    position: absolute;
    right: 10%;
    top: 150%;
}
#placa img{
    object-fit: fill;
    height: 500px;
    width: 700px;
    border-radius: 30px;
    transform: rotate(90deg);
}
#Plano{
    position: absolute;
    right: 2%;
    top: 15%;
}
#Plano img{
    object-fit:fill;
    height: 600px;
    width: 900px;
    border-radius: 40px;
}
#cisco{
    position: absolute;
    right: 5%;
    top: 50%;
}
#cisco img{
    border-radius: 30px;

}
.reto10{
    position: absolute;
    right: 7%;
    top: 30%;
    text-align: center;
}
.reto10 div{
    margin: 5rem;
}
.reto8{
    position: absolute;
    right: 8%;
    top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.reto8 img{
    height: 550px;
    width: 550px;
    margin: 80px;
}
#pantalla{
    position: absolute;
    right: 5%;
    top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#pantalla img{
    border-radius: 40px;
    height: 500px;
    width: 800px;
}
