/* Todo: Fix this import */
@import "../ttf/Inter-VariableFont_slnt\,wght.ttf";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  text-decoration: none;
}


header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}


body {
  background-color: #fbfff1;
}
/*search*/

.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: absolute;
  max-width: 300px;
  right: 9%;
  top: 15%;

}

.input {
  width: 100%;
  height: 50px;
  line-height: 40px;
  padding: 1 2rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fbfff1;
  color: #5f8671;
  transition: 0.3s ease;
  font-size: 20px;
}

.input::placeholder {
  color: #5f8671;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fbfff1;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 0rem;
  fill: #5f8671;
  width: 2rem;
  height: 2rem;
}

/*--*/


nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 26px;
  color: #818962;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 500ms ease;
}

nav > ul > li > a:hover {
  transform: scale(1.09);
  background-color: #5f8671;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fbfff1;
}


.fila-miembros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.miembro {
  text-align: center;
  object-fit: cover;
  width: 250px;
  height: 100px;
}

.miembro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.miembro h3 {
  margin: 0;
}
.espacio {
  height: 200px;
}
.espacio1 {
  height: 200px;
}

/*barra menu*/
.container {
  position: absolute;
  left: 80%;
  z-index: 12;
  top: 36%;
}

::placeholder {
  color: grey;
}

.btn {
  position: absolute;
  right: 1px;
  top: -9px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 500ms;
}
.btn i {
  font-size: 20px;
  color: #5f8671;
  line-height: 30px;
  transition: all 700ms ease;
  padding-top: 4px;
}
.container:hover input {
  width: 200px;
}
.container:hover i {
  transform: rotate(-360deg);
}
.btn:hover {
  background: #ffffff;
}

#logo1 {
  width: 220px;
  height: 50px;
  position: absolute;
  z-index: 11;
  left: 5%;
  top: 10px;
  transition: all 300ms ease;
}

.container__menu {
  width: 100%;
  height: 70px;
  background: #fbfff1;
  padding: 0px 20px;
  border: #5f8671 solid 1px;
}

.menu {
  margin: auto;
  height: 100%;
}

.presupuesto {
  position: absolute;
  left: 55%;
  
}

/*submenu*/
.reto_D {
  position: absolute;
  left: 68%;
}

nav ul .presupuesto ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
  
}
nav ul .presupuesto:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
nav ul .reto_D ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
nav ul .reto_D:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
#FASE1 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
#FASE1:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}
#FASE2 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
#FASE2:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}
#FASE3 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
#FASE3:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}

nav ul li ul li a {
  display: block;
  color: #292627;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  flex-direction: column;
}
nav ul li ul li a:hover {
  background: #5f8671;
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

#bienvenido {
  text-align: center;
  margin-bottom: -4px;
}
#bienvenido img {
  width: 100%;
  height: 1000px;
  margin-top: 70px;
  object-fit: cover;
  
}
#bienvenido h1 {
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 10;
  color: #818962;
  font-size: 150px;
  opacity: 1;
}
#bienvenido h2 {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 10;
  color: #818962;
  font-size: 70px;
  opacity: 1;
}
/*cuerpo*/


/*  */
#container_formulario {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #fbfff1;
  padding-bottom: 20px;
}
#random {
  height: 600px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
.three-d-card {
  position: relative;
  width: 20%;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
  margin: 1% 5.4%;
  
}

.card-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.three-d-card:hover .card-wrapper {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #818962;
  border-radius: 15px;
  background-color: #fbfff1;
}

.card-face.front {
  transform: rotateY(0deg);
}

.card-face.back {
  transform: rotateY(180deg);
}

.card-content {
  text-align: center;
  color: #333;
}

.card-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}


/*--------------------------------formulario-------------------------------*/
/* ----------------------------------------------
 * Generated by Animista on 2024-3-8 11:7:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @keyframes slide-in-top {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




/*---------------------------------------------------------------------------*/
@keyframes show {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}








/*resumenes*/

#container_resumenes{
  width: 100%;
  height: 2000px  ;
  display: inline-block;
}
.Container_fase{
  text-align: center;
  font-size: 30px;
  background-color: #98b7a6;
  width: 30%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fase {
  text-align: center;
  font-size: 30px;
  background-color: #98b7a6;
}
#left .fase{
  border-top-right-radius: 20px;
}
#right .fase{
  border-top-left-radius: 20px;
}
#left {
  width: 30%;
  display: inline-block;
}
#left .card{
  margin: 15% 5%;
}
#right{
  position: absolute;
  right: 0%;
  width: 30%;
  display: inline-block;
}
.fa-solid{
  font-size: 90px;
  color: #5f8671;
}
.card {
  position: relative;
  width: 90%;
  margin: 5%;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card__image {
  width: 100%;
  height: 100%;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card__content {
  transform: rotateX(0deg);
}
.card__title {
  margin: 0;
  font-size: 40px;
  color: #333;
  font-weight: 700;
}
.card__description {
  margin: 10px 0 10px;
  font-size: 30px;
  color: #777;
  line-height: 1.4;
}
.card__button {
  padding: 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}



/*randoms de los resumenes*/

#fase3_page{
  background-color: #fbfff1;
  border: solid 2px #292627;
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
}
#Container_fase3{
  width: 100%;
  height: 400px;
}











/*---*/

/*pie*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

.foto {
  width: 60%;
  height: 200px;
  object-fit: fill;
  display: inline-block;
  padding-left: 30px;
}

.pie {
  bottom: 0;
  width: 100%;
  background-color: #13203a;
  color: #fff;
  text-align: center;
}

.pie .grupo-1 {
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 45px 0px;
}

.box{
  width: 39%;
  display: inline-block;
  padding: 10px;
  text-align: left;
  padding-left: 200px;
}

.pie .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie .grupo-1 .box h3 {
  color: #efefef;
  margin-bottom: 10px;
}

.pie .grupo-1 .red-social a {
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie .grupo-1 .red_socia a:hover {
  color: aqua;
}
.pie .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .foto {
    width: 100px;
    height: 50px;
  }
}
/*----------------------------------------------------------------------------------------------------------*/
