/* Todo: Fix this import */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
body {
  background-color: #fbfff1;
}
/*search*/
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: absolute;
  max-width: 300px;
  right: 3%;
  top: 15%;
}
.input {
  width: 100%;
  height: 50px;
  line-height: 40px;
  padding: 1 2rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fbfff1;
  color: #5f8671;
  transition: 0.3s ease;
  font-size: 20px;
}

.input::placeholder {
  color: #5f8671;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fbfff1;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 0rem;
  fill: #5f8671;
  width: 2rem;
  height: 2rem;
}

/*--*/


nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 26px;
  color: #818962;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 500ms ease;
}

nav > ul > li > a:hover {
  transform: scale(1.09);
  background-color: #5f8671;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fbfff1;
}


.espacio {
  height: 200px;
}
.espacio1 {
  height: 200px;
}
/*container membros*/
#container_membros{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  gap: 10rem;
}
.card-client {
  background: #fbfff1;
  width: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #292627;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border: 4px solid #292627;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  color: #292627;
  height: 35%;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 20px;
  color: #292627;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  margin: 20px 0;
  background: #292627;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
  color: #292627;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}
 
/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
  font-size: 20px;
  color: #fbfff1;
}



/*barra menu*/
.container {
  position: absolute;
  left: 80%;
  z-index: 12;
  top: 36%;
}

::placeholder {
  color: grey;
}

.btn {
  position: absolute;
  right: 1px;
  top: -9px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 500ms;
}
.btn i {
  font-size: 20px;
  color: #5f8671;
  line-height: 30px;
  transition: all 700ms ease;
  padding-top: 4px;
}
.container:hover input {
  width: 200px;
}
.container:hover i {
  transform: rotate(-360deg);
}
.btn:hover {
  background: #ffffff;
}

#logo1 {
  width: 220px;
  height: 50px;
  position: absolute;
  z-index: 11;
  left: 5%;
  top: 10px;
  transition: all 300ms ease;
}

.container__menu {
  width: 100%;
  height: 70px;
  background: #fbfff1;
  padding: 0px 20px;
  border: #5f8671 solid 1px;
}

.menu {
  margin: auto;
  height: 100%;
}

.presupuesto {
  position: absolute;
  left: 65%;
  
}

/*submenu*/
.reto_D {
  position: absolute;
  left: 75%;
}
#formulario_link {
  position: absolute;
  left: 56%;
  font-size: 20px;
  padding: 23px;
  transition: all ease 300ms ;
}
#formulario_link:hover {
  background-color: #f0b736;
  scale: 1.09;
  border-radius: 10px;
  cursor: pointer;
}
#formulario_link:hover a{
  color: #fbfff1;
  
}
#formulario_link a{
  color: #f0b736;
  text-transform: uppercase;
}
nav ul .presupuesto ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
  
}
nav ul .presupuesto:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
nav ul .reto_D ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
nav ul .reto_D:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
#FASE1 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
  
}
#FASE1:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}
#FASE2 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
#FASE2:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}
#FASE3 ul {
  width: 200px;
  display: flex;
  background: #fbfff1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  flex-direction: column;
}
#FASE3:hover ul {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 104%;
}

nav ul li ul li a {
  display: block;
  color: #292627;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  flex-direction: column;
}
nav ul li ul li a:hover {
  background: #5f8671;
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

#bienvenido {
  text-align: center;
  margin-bottom: -4px;
}
#bienvenido img {
  width: 100%;
  height: 1100px;
  margin-top: 70px;
  object-fit: cover;
  
}
#bienvenido h1 {
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 10;
  color: #fbfff1;
  font-size: 150px;
  opacity: 1;
}
#bienvenido h2 {
  position: absolute;
  top: 32%;
  left: 11%;
  z-index: 10;
  color: #fbfff1;
  font-size: 70px;
  opacity: 1;
}
/*cuerpo*/


/*  */

#random {
  height: 600px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
.three-d-card {
  position: relative;
  width: 20%;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
  margin: 1% 5.4%;
  
}

.card-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.three-d-card:hover .card-wrapper {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #292627 solid 4px;
  border-radius: 15px;
  background-color: #5f8671;
}

.card-face.front {
  transform: rotateY(0deg);

}

.card-face.back {
  transform: rotateY(180deg);
}

.card-content {
  text-align: center;
  color: #fbfff1;
}

.card-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}


/*--------------------------------formulario-------------------------------*/
/* ----------------------------------------------
 * Generated by Animista on 2024-3-8 11:7:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @keyframes slide-in-top {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*---------------------------------------------------------------------------*/
@keyframes show {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
/*resumenes*/
#container_resumenes{
  width: 100%;
  height: auto  ;
  display: inline-block;
}
.Container_fase{
  text-align: center;
  font-size: 50px;
  background-color: #fbfff1;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border: #292627 solid 4px;
  color: #292627;
}
.Container_fase span{
  color: #292627
}
#resumenes1{
  width: 100%;
  display: flex;
}
#resumenes2{
  width: 100%;
  display: flex;
}
.fase {
  text-align: center;
  font-size: 50px;
  background-color: #fbfff1;
  color: #292627;
  border: #292627 solid 4px;
}
#left .fase{
  border-top-right-radius: 20px;
}
#right .fase{
  border-top-left-radius: 20px;
}
#left {
  width: 100%;
  display: flex;
}
.card{
  margin: 5% 2%;
}
#right{
  width: 100%;
  display: flex;
}

.fa-solid{
  font-size: 90px;
  color: #5f8671;
}

.card {
  width: 30%;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 700px;
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card__image {
  width: 100%;
  height: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card__content {
  transform: rotateX(0deg);
}
.card__title {
  margin: 0;
  font-size: 35px;
  color: #333;
  font-weight: 700;
}
.card__description {
  margin: 10px 0 10px;
  font-size: 30px;
  color: #777;
  line-height: 1.4;
}
.card__button {
  padding: 15px;
  border-radius: 8px;
  font-size: 25px;
  background-color: #fbfff1;
  border: none;
  color: #292627;
  position: absolute;
  bottom: 5%;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}



/*randoms de los resumenes*/

#fase3_page{
  background-color: #fbfff1;
  border: none;
  border-radius: 20px;
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  background-color: #f2f2f2;
  height: auto;
}
#Container_fase3{
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
#fase3_page h1{
  font-size: 40px;
}
#fase3_page h2{
  font-size: 40px;
} 
#fase3_page p{
  font-size: 30px;
  padding: 10px;
}
#fase3_page a{
  padding: 10px;
  font-size: 30px;
  color: #f0b736;
  background-color: #fbfff1;
  border-radius: 20px;
  transition: all EASE 300ms  ;
  margin-left: 75%;
}
#fase3_page a:hover{
  color: #fbfff1;
  background-color: #292627;
}

/*-formulario-*/
#container_form{
  height: auto;
  width: 100%;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 100px;
  position: relative;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 40px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 50px;
  padding-left: 20%;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 45px 20px;
  outline: 0px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  font-size: 35px;
}
.form label select {
  width: 100%;
  padding: 45px 20px;
  outline: 0px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  font-size: 35px;
  background-color: #fbfff1;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 67%;
  color: #5f8671;
  font-size: 25px;
  cursor: text;
  transition: 0.3s ease;
  font-weight: 600;
}
.form label select + span {
  position: absolute;
  left: 10px;
  top: 67%;
  color: #5f8671;
  font-size: 25px;
  cursor: text;
  transition: 0.3s ease;
  font-weight: 600;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 40px;
}
.form label select:placeholder-shown + span {
  top: 15px;
  font-size: 40px;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 60px;
  font-size: 25px;
  font-weight: 600;
}
.form label select:focus + span,.form label select:valid + span {
  top: 80px;
  font-size: 25px;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #5f8671;
}
.form label select:valid + span {
  color: #5f8671;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  font-size: 35px;
}

.form label .input01 + span {
  position: absolute;
  left: 0%;
  top: 50px;
  color: grey;
  font-size: 50px;
  cursor: text;
  transition: 0.3s ease;
  padding-left: 10px;
}

.form label .input01:placeholder-shown + span {
  top: 10px;
  font-size: 25px;
  
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 80%;
  font-size: 25px;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: #5f8671;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 50px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 10.5em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
  width: 400px;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}


/*cubo*/







/*pie*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

.socials-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px 40px;
  background-color: #292627;
  margin: 0 auto;
}
.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}
.twitter:hover {
  background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}
.facebook:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}
.google-plus:hover {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social svg {
  fill: white;
  height: 20px;
}
.pie {
  bottom: 0;
  width: 100%;
  background-color: #292627;
  color: #fff;
  text-align: center;
}
.pie .grupo-1 {
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 45px 0px;
}
.pie .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.grupo-2{
  background-color: black;
  
}
@media screen and (max-width: 800px) {
  .pie .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .foto {
    width: 40px;
    height: 30px;
  }
}
/*----------------------------------------------------------------------------------------------------------*/
